.box-1{width: 800px;
height: 450px;
background: slategrey;
box-sizing: border-box;
    display: flex;
position: relative;

}
.box-2{width: 100%;
height: 60%;
 background: darkblue;
    margin-top: 70px;
    position: relative;
    display: flex;
z-index:1;
}

.miniBox{width:60px;
    height: 30px;
    background: chocolate;
position: relative;
left: 20px;
bottom: 55px;

}

.kolo{border-radius: 20%;}
.kub{width: 90px;
height: 90px;
    background: blue;
    position: relative;
margin: 20px;
    top: 215px;
left: 145px;
}
.center{display: flex;
justify-content: center}
.fa-magnifying-glass{position: relative;

font-size: 30px;
    left:240px;
    bottom: 40px;

}
.fa-list{position: relative;

    font-size: 30px;
    left:260px;
    bottom: 40px;}
