
.b123{; border:3px solid black;
    box-sizing: border-box;
    flex-direction: column;

}
.a1{width: 96%;
height: 300px;background: slategrey;
}
.a2{width: 60%;
height: 400px;
background: olive}
.a3{width: 40%;
height: 400px;
background: chocolate}
.FL{display: flex}

.m2og{margin: 20px}

@media  screen and (max-width: 900px) and (min-width: 10px){


.FL{flex-direction: column}
    .a1{width: 96%;
        height: 150px;
    }

    .a2{width: 96%;
        height: 400px;
    }

    .a3{width: 96%;
    height: 140px}




}


